---
import { folderService } from "@/services";
import { getUser } from "@/utils/auth";

export const partial = true;

const folderId = Astro.params.folderId;

if (!folderId || isNaN(Number(folderId))) {
  return new Response(JSON.stringify({ error: "Folder ID is required" }), {
    status: 400,
  });
}

const user = getUser(Astro.cookies);

if (!user) {
  return new Response(JSON.stringify({ error: "User is not logged in" }), {
    status: 401,
  });
}

const randomFile = await folderService.getRandomFile(Number(folderId), user.id);

if (!randomFile) {
  return new Response(
    JSON.stringify({
      error: "Error getting random file from folder with ID: " + folderId,
    }),
    { status: 500 },
  );
}
---

<a href={`/file/${randomFile.id}`}>{randomFile.name}</a>
