---
import { getUser } from "@/utils/auth";
import File from "@/components/File.astro";
import FileLayout from "@/layouts/FileLayout.astro";
import { fileService } from "../../services";

const { fileId } = Astro.params;

const fileIdNum = Number(fileId);

const user = getUser(Astro.cookies);

if (!user) {
  console.error("User not found");
  return Astro.redirect("/");
}

let file = null;

try {
  if (fileIdNum && !Number.isNaN(fileIdNum)) {
    file = await fileService.getFile(fileIdNum, user.id);
  }
} catch {
  console.error("Error finding file with ID: " + fileIdNum);
}
---

<FileLayout title="File | PingMe">
  {!file && <h2>File not found</h2>}

  {file && <File file={file} />}
</FileLayout>

<style>
  h2 {
    color: var(--black);
  }
</style>
