---
import FileList from "@/components/FileList.astro";
import FolderList from "@/components/FolderList.astro";
import Layout from "@/layouts/Layout.astro";
import { fileService, folderService } from "@/services";

const folders = await folderService.getFolders();

const files = await fileService.getFiles();
---

<Layout title="Home | PingMe">
	<main>
		<h2>Sign up</h2>

		<form hx-post="/sign-up.json" hx-target="this" hx-swap="outerHTML" method="POST">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" />

			<label for="password">Password</label>
			<input type="password" name="password" id="password" />

			<button type="submit">Sign up</button>
		</form>

		<h2>Login</h2>

		<form hx-post="/login.json" hx-target="this" hx-swap="outerHTML" method="POST">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" />

			<label for="password">Password</label>
			<input type="password" name="password" id="password" />

			<button type="submit">Login</button>
		</form>

		{folders && <FolderList folders={folders} />}

		<section>
			<h2>Files</h2>

			<a href="/file/new">Create File</a>

			{files && <FileList files={files} />}
		</section>
	</main>
</Layout>

<style>
	main {
		padding: 1.5rem;
	}

	li {
		margin-bottom: 1rem;
	}
</style>
