---
import FileList from "@/components/FileList.astro";
import FolderList from "@/components/FolderList.astro";
import Layout from "@/layouts/Layout.astro";
import { fileService, folderService } from "@/services";
import { getUser, isAuthenticated } from "@/utils/auth";

let folders = null;
let files = null;

const userIsAuthenticated = isAuthenticated(Astro.cookies);

if (userIsAuthenticated) {
  const user = getUser(Astro.cookies);

  if (user) {
    folders = await folderService.getFolders(user.id);
    files = await fileService.getFiles(user.id);
  }
}
---

<Layout title="Home | PingMe">
  <main>
    {
      !userIsAuthenticated && (
        <div>
          <h2>Sign up</h2>

          <form
            hx-post="/sign-up.json"
            hx-target="this"
            hx-swap="outerHTML"
            method="POST"
          >
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" />

            <button type="submit">Sign up</button>
          </form>

          <h2>Login</h2>

          <form
            hx-post="/login.json"
            hx-target="this"
            hx-swap="outerHTML"
            method="POST"
          >
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" />

            <button type="submit">Login</button>
          </form>
        </div>
      )
    }

    {userIsAuthenticated && folders && <FolderList folders={folders} />}

    {
      userIsAuthenticated && (
        <section>
          <h2>Files</h2>

          <a href="/file/new">Create File</a>

          {files && <FileList files={files} />}
        </section>
      )
    }
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
  }
</style>
