---
import type { File } from "@/services/types";

interface Props {
  file: Omit<File, "userId">;
}

const { file } = Astro.props;
---

<form hx-put={`/file/${file.id}/update`}>
  <div style="display: flex; align-items: center; margin-bottom: 1rem;">
    <label for="file-name" style="margin-right: 1rem;">File name</label>
    <input
      type="text"
      id="file-name"
      name="fileName"
      value={file.name}
      style="max-width: 11rem;"
    />
  </div>

  <label for="file-body" style="display:block; margin-bottom: 1rem;">Body</label
  >
  <div id="editor"></div>
  <input type="hidden" id="file-body" name="fileBody" value={file.html} />

  <file-editor data-file={file.html}></file-editor>

  <div class="form-footer">
    <button type="submit">Update</button>
  </div>
</form>

<style is:inline>
  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .form-footer button {
    cursor: pointer;
    height: 50px;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    .form-footer {
      justify-content: center;
    }

    .form-footer button {
      width: 100%;
    }
  }
</style>
