---
import type { File } from "@/services/types";

interface Props {
  file: File;
}

const { file } = Astro.props;
---

<script>
  import Viewer from "@toast-ui/editor/dist/toastui-editor-viewer";
  import "@toast-ui/editor/dist/toastui-editor-viewer.css";

  class FileViewer extends HTMLElement {
    constructor() {
      super();

      const body = this.dataset.file;

      const viewerElement: HTMLElement | null =
        document.querySelector("#viewer");

      if (viewerElement) {
        new Viewer({ el: viewerElement, initialValue: body });
      }
    }
  }

  customElements.define("file-viewer", FileViewer);
</script>

<div id="file">
  <div
    style={{
      display: "flex",
      justifyContent: "space-between",
      alignItems: "center",
      width: "100%",
    }}
  >
    <h2>{file.name}</h2>

    <button
      hx-get={`/file/${file.id}/edit`}
      hx-swap="outerHTML"
      hx-target="#file"
      style={{
        width: "100px",
        height: "50px",
        cursor: "pointer",
      }}
    >
      Edit
    </button>
  </div>

  <div id="viewer"></div>
  <file-viewer data-file={file.html}></file-viewer>
</div>

<style>
  h2 {
    color: var(--black);
  }
</style>
