---
import CreateFolderButton from "../pages/create-folder-button.html";
import type { Folder } from "../services/types";
import { FolderRow } from "./FolderRow";

interface Props {
  folders: Folder[];
}

const { folders } = Astro.props;
---

<section>
  <h2>Folders</h2>

  <CreateFolderButton />

  <ul id="folder-list" hx-target="closest li" hx-swap="outerHTML">
    {
      (folders || []).map((folder) => {
        const row = FolderRow({ folder });

        return <Fragment set:html={row} />;
      })
    }
  </ul>
</section>
