---
interface Props {
  folderId?: string;
}

const { folderId } = Astro.props;
---

<form hx-post="/file.json">
  {folderId && <input type="hidden" name="folderId" value={folderId} />}

  <div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
      <label for="file-name" style="margin-right: 1rem;">File name</label>
      <input
        type="text"
        id="file-name"
        name="fileName"
        style="max-width: 11rem;"
        autofocus
      />
    </div>

    <button type="submit">Create</button>
  </div>

  <br />
  <br />

  <label for="file-body" style="display:block; margin-bottom: 1rem;">Body</label
  >
  <file-editor></file-editor>
  <div id="editor"></div>
  <input type="hidden" id="file-body" name="fileBody" />
</form>
