---
import Navigation from "@/components/Navigation.astro";
import { isAuthenticated } from "@/utils/auth";
import "@fontsource/pacifico";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const userIsAuthenticated = isAuthenticated(Astro.cookies);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Application to remind you of whatever you want, whenever you want."
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.ico"
      <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" /><meta
      name="generator"
      content={Astro.generator}
    /><title>{title}</title></head
  >

  <body>
    <header>
      <a href="/" style="text-decoration: none;"><h1>PingMe</h1></a>
      <Navigation userIsAuthenticated={userIsAuthenticated} />
    </header>
    <main>
      <div id="modal-container"></div>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --background: #efe9d9;
    --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    --card-background: #ddd4bc;
    --section-background: #e6e1d1;
    --black: #333333;
    --orange: #ea8958;
    --yellow: #e1b881;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background);
  }

  header {
    background-color: #ede1ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 3rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  header h1 {
    font-family: Pacifico, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    color: var(--black);
  }

  body {
    margin: 0;
  }

  main {
    padding: 1rem 2rem;
    padding-top: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  p,
  input,
  button,
  a,
  label {
    font-size: large;
  }

  button {
    cursor: pointer;
  }

  input {
    padding: 0.25rem;
  }

  a:hover {
    text-decoration: none;
  }

  .primary-button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 2px solid var(--black);
    background: var(--background);
    color: var(--backgblackround);
    min-width: 90px;
    transition: all 0.1s ease-out;
  }
  * {
    box-sizing: border-box;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    header {
      padding: 0.5rem 1rem;
    }

    main {
      padding: 0rem 1rem;
    }
  }
</style>
